$white_color: #fff;
$black_color: #000;
$blue_color: #4c76ff;
$darkblue_color: #062033;
$gray_color: #c2c2c2;
$brown_color: #282528;
$yellow_color: #fefce9;
$features_bg: #efefef;
$featuresSubtitle_color: #60707b;
$teamLink_bg: #3955b0;
$contactText_color: #6a737b;
